include ../_includes

include partials/_head

body
  include partials/_registermodal
  include partials/_searchmodal
  .wrapper
    include partials/_nav
    block content

  include partials/_sub
  include partials/_foot
