extends templates/_default

block title
  title About Us| Examkhojo
block stylesheet
  link(rel="stylesheet" href="assets/css/pages/company.css")
block content
  section#hero
    .container
      h3
        | About Examkhojo
  section#content
    .container
      p.
        Examkhojo.com is a technology driven one stop solution for students, parents and
        education industry players who are seeking for information on colleges, courses and
        exams. Our aim is to help students in choosing the right path for their ambitious
        career.
      br
      p.
        We also provide end-to-end solutions to the educational institutes by delivering high
        quality leads. We also have plenty of other services to choose from, since it is
        important to use multiple avenues to reach out to your target audience. Our data
        segregation algorithm in the website helps in segregating the highly specific and
        active database upto multiple levels.
      br
      h4 Our Mission
      p.
        We aspire to be one of the top educational portals by helping students in making the
        right academic choices with our most interactive user interface and most validated
        contents.
      br
      h4 Our Vision
      p.
        Our vision is to remove the hurdles and work as a catalyst in providing one stop
        solution in empowering students while choosing their career path.
      br

  