extends templates/_default

block title
  title About Us| Examkhojo
block stylesheet
  link(rel="stylesheet" href="assets/css/pages/company.css")
block content
  section#hero
    .container
      h3
        | About Examkhojo
  section#content
    .container
      h4
        | Examkhojo is a startup initiative aimed to make information related to colleges, exams and courses easily accesible to students and candidates.
      br
      p
        | Examkhojo.com is an online search platform where students or candidates can find these information easily.
      p
        | This web platform has collected all the information of several colleges, universities, exams and coures from variety of sources, then made the information concise and consumable. The condedsed content is then made available to the mass through this plateform.

  