extends templates/_default

block title
	title Account Settings | Full Name | Examkhojo
	//- "Full Name" of the user should update here

block stylesheet
	link(rel="stylesheet" href="assets/css/pages/account-settings.css")

block content
	section#hero
		.container
			ul.breadcrumb
				li.link-01
					a(href="index.html") Home
				li.link-01
					a(href="dashboard.html") Dashboard
				li.link-01 Account Settings
			.header-primary-info
				h4.sub-header-01 Account Settings
				p.paragraph-01 Add More Details to let us serve you better
	section#account
		.basic-details
			.container
				h4.sub-header-01 Basic Details
				form(data-validate).form-basic-details
					.form-element
						label(for="name") Full Name
						input( required type='text', name='name', value="Amit Trivedi" ,placeholder='Type your Full Name')
					.form-element
						input.button-primary(type="submit" value="Save Basic Details")
		.contact-details
			.container
				h4.sub-header-01 Contact Details
				form(data-validate).form-basic-details
					.form-element
						label(for="email") Your Email Address
						input( required type='email', autocomplete="username", name='email', value="amittrivedi@example.com", placeholder='Type your Email')
					.form-element
						label.nested-label(for="phone") Your Phone Number
							span.label-01 10 Digits Only
						span.phone-input(data-code="+91")
							input(type='text', name='phone', value="", placeholder='Your 10-digit Phone Number', maxlength="10", minlength="10", pattern="[0-9]{10}" )
					.form-element
						input.button-primary(type="submit" value="Save Contact Details")
		.edu-details
			.container
				h4.sub-header-01 Educational Details
				form(data-validate).form-edu-details
					.form-element
						label(for="college") Your Insititute
						input(type='text', name='college', value="" , placeholder='Type your College Name')
					.form-element
						label(for="course") Interest/Course
						input(type='text', name='course', value="", placeholder='Your Course, for e.g. B.Tech CSE')
					.form-element
						input.button-primary(type="submit" value="Save Educational Details")
		.update-password#update-password
			.container
				h4.sub-header-01 Update Password
				form(data-validate).form-edu-details
					.form-element
						label(for="password") Your Old/Current Password
						input( required type='password', autocomplete="password", name='password', placeholder='Type your Old Password')
					.form-element
						label.set-password(for="new-password") 
							| Set New Password
							span.label-01 Please use atleast 8 characters
						input(data-bouncer-message="Hi", type='password', autocomplete="new-password", name='new-password', minlength="8", placeholder='Type your Password' required)
					.form-element
						input.button-primary(type="submit" value="Update Password")
		.close-account
			.container
				h4.sub-header-01 Close Account
				p.paragraph-01 All account data will be deleted
				button.button-primary_danger Delete Account
			.delete-confirmation-modal
				.delete-confirmation
					h6.sub-header-03 Are you sure you want to delete your account?
					button#delAccount.button-outline Yes, Delete Account
					button.button-primary No, Go back
block js
	script.
		
		//File MIME check
		var fileInput = document.querySelector('.form-upload-picture input');
		

		//Delete Account
		var deleteModalOpenButton = document.querySelector("#account .close-account .button-primary_danger");
		var deleteModal = document.querySelector("#account .close-account .delete-confirmation-modal");
		var deleteModalCloseButton = document.querySelector("#account .close-account .button-primary");

		deleteModalOpenButton.onclick = function() {
			deleteModal.style.display = "block";
		}
		deleteModalCloseButton.onclick = function() {
			deleteModal.style.display = "none";
		}


		//- // Avatar Change Button

		//- // var displayImageButtons = document.querySelector(".display-image-buttons");
		//- var uploadFormShowButton = document.querySelector(".display-image-buttons .button-primary");
		//- var uploadForm = document.querySelector(".display-image-buttons form");
		//- uploadFormShowButton.onclick = function() {
		//- 	uploadForm.style.display = 'block';
		//- 	this.style.display = 'none';
		//- }


