extends templates/_default

block title
  title Advertising | Examkhojo
block stylesheet
  link(rel="stylesheet" href="assets/css/pages/company.css")
block content
  section#hero
    .container
      h3
        | Advertising
  section#content
    .container
      p.
        We help you reach out to aspirants, students and alumni. Increase your reach by
        working with us. We have plenty of services for you to choose from, since it is
        important to use multiple avenues to reach out to your target audience. Drop us a
        quick email/telephone number so that our we can get in touch to help you make the
        best choices.
      p
        | Phone: 
        a.paragraph-01(href="tel:+917250549857") (+91) 725 054 9857
        |  / 
        a.paragraph-01(href="tel:+917250549857") (+91) 9748 237 978
      p
        | Email: 
        a(href="mailto:hello@examkhojo.com").paragraph-01 hello@examkhojo.com
      br