extends templates/_default

block title
  title Career | Examkhojo
block stylesheet
  link(rel="stylesheet" href="assets/css/pages/company.css")
block content
  section#hero
    .container
      h3
        | Career
  section#content
    .container
      h4.
        Join A Team That Celebrates You Daily!
      p.
        At Examkhojo, we extremely believe in individual growth that eventually leads to
        collective growth. If you wish to join us, drop an email at hello@examkhojo.com with
        your CV. We will explore opportunities for you.
      p
        span.paragraph-01.
          At Examkhojo, we extremely believe in individual growth that eventually leads to
          collective growth. If you wish to join us, drop an email at 
        a(href="mailto:hello@examkhojo.com").paragraph-01 hello@examkhojo.com 
        span.paragraph-01.
          with your CV. We will explore opportunities for you.