extends templates/_default

block title
	title Top Colleges | Listed by Examkhojo
	meta(name="description", content="Top colleges in India rated by Examkhojo.com")
	meta(name="keywords", content="Colleges, College List, List of Top Colleges in India, Examkhojo Top College List, Examkhojo List of Top Colleges in India, Search Colleges, Colleges in India, Top Colleges in India")

block stylesheet
	link(rel="stylesheet" href="assets/css/pages/listpages.css")

block content
	section#hero
		.container
			ul.breadcrumb
				li.link-01
					a(href="index.html") Home
				li.link-01 Colleges
			h3.header-03 Check Out the Top Colleges
			+searchBarSM("Search Colleges")
	section#cards-section
		.container
			.cards-group
				+cardCollege( "individual-college.html", "../assets/images/sample.jpg", "IIT Bomabay", "Bombay", "AICTE", "University", "#downloadIITBombay")
				+cardCollege( "individual-college.html", "../assets/images/sample.jpg", "IIT Bomabay", "Bombay", "AICTE", "University", "#downloadIITBombay")
				+cardCollege( "individual-college.html", "../assets/images/sample.jpg", "IIT Bomabay", "Bombay", "AICTE", "University", "#downloadIITBombay")
				+cardCollege( "individual-college.html", "../assets/images/sample.jpg", "IIT Bomabay", "Bombay", "AICTE", "University", "#downloadIITBombay")
				+cardCollege( "individual-college.html", "../assets/images/sample.jpg", "IIT Bomabay", "Bombay", "AICTE", "University", "#downloadIITBombay")
				+cardCollege( "individual-college.html", "../assets/images/sample.jpg", "IIT Bomabay", "Bombay", "AICTE", "University", "#downloadIITBombay")
				+cardCollege( "individual-college.html", "../assets/images/sample.jpg", "IIT Bomabay", "Bombay", "AICTE", "University", "#downloadIITBombay")
				+cardCollege( "individual-college.html", "../assets/images/sample.jpg", "IIT Bomabay", "Bombay", "AICTE", "University", "#downloadIITBombay")
				+cardCollege( "individual-college.html", "../assets/images/sample.jpg", "IIT Bomabay", "Bombay", "AICTE", "University", "#downloadIITBombay")
			//- Loads more content when clicked. (Can be ommitted if not enough content is available)
			button.button-outline.load-more Load More