extends templates/_default

block title
  title Contact | Examkhojo
block stylesheet
  link(rel="stylesheet" href="assets/css/pages/company.css")
block content
  section#hero
    .container
      h3
        | Contact Us
  section#content
    .container
      h4
        | For Advertisment, Updation of Content contact
      p
        a(href="mailto:examkhojo@gmail.com") examkhojo@gmail.com
      br
      h4
        | For any other info contact
      p
        a(href="mailto:examkhojo@gmail.com") examkhojo@gmail.com
      br