extends templates/_default

block title
  title Contact | Examkhojo
block stylesheet
  link(rel="stylesheet" href="assets/css/pages/company.css")
block content
  section#hero
    .container
      h3
        | Contact Us
  section#content
    .container
      h4
        | For any queries email us at:
      p
        a(href="mailto:hello@examkhojo.com").paragraph-01 hello@examkhojo.com
      br