extends templates/_default

block title
	title Top Courses | Listed by Examkhojo
	meta(name="description", content="Top courses in India rated by Examkhojo.com")
	meta(name="keywords", content="Courses, Courses List, List of Top Courses in India, Examkhojo Top Courses List, Examkhojo List of Top Courses in India, Search Courses, Courses in India, Top Courses in India")

block stylesheet
	link(rel="stylesheet" href="assets/css/pages/listpages.css")

block content
	section#hero
		.container
			ul.breadcrumb
				li.link-01
					a(href="index.html") Home
				li.link-01 Courses
			h3.header-03 Browse Popular Courses
			+searchBarSM("Search Colleges")
	section#cards-section
		.container
			.cards-group
				+cardCourse( "individual-course.html", "B.Tech - CSE", "Engineering", "Undergraduate", "4years" )
				+cardCourse( "individual-course.html", "B.Des - Interaction Design", "Design", "Undergraduate", "4years" )
				+cardCourse( "individual-course.html", "BCA", "Computer", "Undergraduate", "3years" )
				+cardCourse( "individual-course.html", "B.Des - Interaction Design", "Design", "Undergraduate", "4years" )
				+cardCourse( "individual-course.html", "B.Tech - CSE", "Engineering", "Undergraduate", "4years" )
				+cardCourse( "individual-course.html", "MBA", "Business", "Postgraduate", "2years" )
				+cardCourse( "individual-course.html", "B.Tech - CSE", "Engineering", "Undergraduate", "4years" )
				+cardCourse( "individual-course.html", "B.Des - Interaction Design", "Design", "Undergraduate", "4years" )
				+cardCourse( "individual-course.html", "BCA", "Computer", "Undergraduate", "3years" )
				+cardCourse( "individual-course.html", "B.Des - Interaction Design", "Design", "Undergraduate", "4years" )
				+cardCourse( "individual-course.html", "B.Tech - CSE", "Engineering", "Undergraduate", "4years" )
				+cardCourse( "individual-course.html", "MBA", "Business", "Postgraduate", "2years" )
			button.button-outline.load-more Load More