extends templates/_default

block title
	title Courses | Examkhojo | Find the best colleges, exams and courses in India

block stylesheet
	link(rel="stylesheet" href="assets/css/pages/listpages.css")

block content
	section#hero
		.container
			ul.breadcrumb
				li.link-01
					a(href="index.html") Home
				li.link-01 Colleges
			h3.header-03 Browse Popular Courses
			+searchBarSM("Search Colleges")
	section#cards-section
		.container
			.cards-group
				+cardCourse( "#individualPage", "B.Tech - CSE", "Engineering", "Undergraduate", "4years" )
				+cardCourse( "#individualPage", "B.Des - Interaction Design", "Design", "Undergraduate", "4years" )
				+cardCourse( "#individualPage", "BCA", "Computer", "Undergraduate", "3years" )
				+cardCourse( "#individualPage", "B.Des - Interaction Design", "Design", "Undergraduate", "4years" )
				+cardCourse( "#individualPage", "B.Tech - CSE", "Engineering", "Undergraduate", "4years" )
				+cardCourse( "#individualPage", "MBA", "Business", "Postgraduate", "2years" )
				+cardCourse( "#individualPage", "B.Tech - CSE", "Engineering", "Undergraduate", "4years" )
				+cardCourse( "#individualPage", "B.Des - Interaction Design", "Design", "Undergraduate", "4years" )
				+cardCourse( "#individualPage", "BCA", "Computer", "Undergraduate", "3years" )
				+cardCourse( "#individualPage", "B.Des - Interaction Design", "Design", "Undergraduate", "4years" )
				+cardCourse( "#individualPage", "B.Tech - CSE", "Engineering", "Undergraduate", "4years" )
				+cardCourse( "#individualPage", "MBA", "Business", "Postgraduate", "2years" )
			button.button-outline.load-more Load More