extends templates/_default

block title
  title Examkhojo Home Page

block content
  h1.title Examkhojo Ui Development

  a(href="../library.html") Go to Pattern Library
  p.description
    strong Coming soon. Stay Tuned!!

  img.image(src="/assets/images/sample.jpg" alt="")
