extends templates/_default

block title
  title Examkhojo | Find the best colleges, exams and courses in India
  meta(name="description", content="Search information about the best colleges, exams and courses in India. Examkhojo is a search platform where you can search relevant information about colleges, exams and courses in India")
  meta(name="keywords", content="Collges, Exams, Courses, India, Search Colleges, Search Exams, Search Courses, Colleges in India, Exams in India, Courses in India, Top Courses in India, Top Colleges in India, Top Exams in India")

block stylesheet
  link(rel="stylesheet" href="assets/css/pages/index.css")

block content
  section#hero
    .container
      h2.header-02 Find the best colleges, exams and courses in India
      //- Two search bars, one for large and small screen, you may implement using only one, but you have to update the input placeholder content for different screens
      //- Large Screen Search Bar with longer placeholder content
      +searchBarLG("Search Exams, Colleges, Courses and more")
      //- Small Screen Search Bar with shorter placeholder content
      +searchBarLG("Search Exams & more")
      //- The above search bars just act as button to open the search modal where actual search works
  //- End of Hero Section
  section#counselling
    .container
      .counselling-header
        h2.header-02 Having Problems Deciding What to do?
      .counselling-content
        h4.sub-header-01 Get Expert Counselling
        p.
          We ease your biggest doubts with personalized
          counselling from our curated experts.
        button.button-primary Get Couselling
      //- If an unregistered user clicks this button they will be prompted with the login modal 
      //- The following confirmation will only show when user clicks the above button while being logged in (to check if user is logged in or not, the javascript checks if primary nav has "logges-in" class)
      .counselling-confirmation
        .counselling-confirmation-message
          h5 
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24">
              <g clip-path="url(#clip0)">
                <path xmlns="http://www.w3.org/2000/svg" d="M12.0576 0C5.44098 0 0.0576172 5.38336 0.0576172 12C0.0576172 18.6166 5.44098 24 12.0576 24C18.6743 24 24.0576 18.6166 24.0576 12C24.0576 5.38336 18.6743 0 12.0576 0ZM12.0576 22.801C6.10166 22.801 1.25664 17.956 1.25664 12C1.25664 6.04405 6.10166 1.19902 12.0576 1.19902C18.0136 1.19902 22.8586 6.04405 22.8586 12C22.8586 17.956 18.0136 22.801 12.0576 22.801Z"/>
                <path d="M15.1994 9.07828L10.5991 13.6541L8.92043 11.9657C8.68552 11.7308 8.30868 11.7308 8.07377 11.9608C7.83886 12.1908 7.83886 12.5726 8.06888 12.8075L10.1684 14.9217C10.2858 15.0391 10.4376 15.0979 10.5942 15.0979C10.7459 15.0979 10.8976 15.0391 11.015 14.9217L16.0411 9.92494C16.2761 9.69003 16.2761 9.31319 16.046 9.07828C15.8111 8.84337 15.4343 8.84337 15.1994 9.07828Z"/>
              </g>
              <defs>
                <clipPath id="clip0">
                  <path d="M0.0576172 0H24.0576V24H0.0576172V0Z"/>
                </clipPath>
              </defs>
            </svg>
            | You are queued
          p Our Expert will contact you through your email or phone(if provided).
          span
            span.label-01.message-tip Tip
            span.label-01
              | To add your Phone number go to your 
              a(href="account-settings.html#contact-details") Account Settings
  //- End of Counselling Section

  section#featured-exams
    .container
      .featured-section-header
        .featured-section-header-content
          h4.sub-header-01 Popular Exams
          p.
            We have listed the popular exams for you.
        //- Search Bar when cliked opens Full Page Search Modal
        +searchBarSM("Search Exams").featured-section-header-search-bar
      .featured-section-cards
        .cards-group
          //- Manger will Select Top 6 Exmas
          +cardExam( "individual-exam.html" , "JEE Mains", "IIT Bombay", "UG", "B.Tech & B.Arch", "#download")
          +cardExam( "individual-exam.html" , "CEED", "IIT Delhi", "PG", "M.Des", "#download")
          +cardExam( "individual-exam.html" , "GATE", "IIT Delhi", "PG", "M.Tech", "#download")
          +cardExam( "individual-exam.html" , "JEE Mains", "IIT Bombay", "UG", "B.Tech & B.Arch", "#download")
          +cardExam( "individual-exam.html" , "CEED", "IIT Delhi", "PG", "M.Des", "#download")
          +cardExam( "individual-exam.html" , "GATE", "IIT Delhi", "PG", "M.Tech", "#download")
  //- End of Featured Exams Section
  section#featured-colleges
    .container
      .featured-section-header
        .featured-section-header-content
          h4.sub-header-01 Top Colleges
          p.
            Checkout the best colleges for you.
        //- Search Bar when cliked opens Full Page Search Modal
        +searchBarSM("Search Colleges").featured-section-header-search-bar
      .featured-section-cards
        .cards-group
          //- Manger will Select Top 6 Colleges
          +cardCollege( "individual-college.html", "assets/images/sample.jpg", "IIT Delhi", "Delhi", "AICTE", "University", "#download" )
          +cardCollege( "individual-college.html" , "assets/images/sample.jpg", "IEM Saltlake", "Kolkata", "AICTE", "College", "#download" )
          +cardCollege( "individual-college.html" , "assets/images/sample.jpg", "Amity University", "Kolkata", "UGC", "University", "#download")
          +cardCollege( "individual-college.html", "assets/images/sample.jpg", "IIT Delhi", "Delhi", "AICTE", "University", "#download" )
          +cardCollege( "individual-college.html" , "assets/images/sample.jpg", "IEM Saltlake", "Kolkata", "AICTE", "College", "#download" )
          +cardCollege( "individual-college.html" , "assets/images/sample.jpg", "Amity University", "Kolkata", "UGC", "University", "#download")
  //- End of Featured Colleges Section        
  section#featured-courses
    .container
      .featured-section-header
        .featured-section-header-content
          h4.sub-header-01 Recommended Courses
          p.
            Here are our recommended courses for you.
        //- Search Bar when cliked opens Full Page Search Modal
        +searchBarSM("Search Colleges").featured-section-header-search-bar
      .featured-section-cards
        .cards-group
          //- Manger will Select Top 6 Colleges
          +cardCourse( "individual-college.html", "B.Tech - CSE", "Engineering", "Undergraduate", "4years" )
          +cardCourse( "individual-college.html", "B.Des - Interaction Design", "Design", "Undergraduate", "4years" )
          +cardCourse( "individual-college.html", "BCA", "Computer", "Undergraduate", "3years" )
          +cardCourse( "individual-college.html", "B.Des - Interaction Design", "Design", "Undergraduate", "4years" )
          +cardCourse( "individual-college.html", "B.Tech - CSE", "Engineering", "Undergraduate", "4years" )
          +cardCourse( "individual-college.html", "MBA", "Business", "Postgraduate", "2years" )
  //- End of Featured Courses Section
