extends templates/_default

block title
	title B.Tech CSE | Examkhojo | Find the best colleges, exams and courses in India
	meta(name="description", content="Bachelor of Technology, Computer Science and Engineering")
	meta(name="keywords", content="B.Tech CSE, Bachelor of Technology, Computer Science and Engineering, Computer Engineering")

block stylesheet
	link(rel="stylesheet" href="assets/css/pages/individual-page.css")

block content
	section#hero
		.container
			ul.breadcrumb
				li.link-01
					a(href="index.html") Home
				li.link-01 
					a(href="exams.html") Courses
				li.link-01 B.Tech CSE
			.header-primary-info
				h3.header-03 Bachelor of Technology - Computer Science & Engineering (B.Tech CSE)
			.header-buttons
				button.icon-button-primary 
					svg.icon(width='24', height='24', viewBox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
						path(d='M20.4896 20.4896C25.1701 15.8091 25.1701 8.19094 20.4896 3.5104C15.8091 -1.17013 8.19094 -1.17013 3.5104 3.5104C-1.17013 8.19094 -1.17013 15.8091 3.5104 20.4896C8.19094 25.1701 15.8091 25.1701 20.4896 20.4896ZM4.3574 4.3574C8.57283 0.141983 15.4272 0.141983 19.6426 4.3574C23.858 8.57283 23.858 15.4272 19.6426 19.6426C15.4272 23.858 8.57283 23.858 4.3574 19.6426C0.141983 15.4272 0.146879 8.57283 4.3574 4.3574Z' )
						path(d='M11.9999 16.4945C12.1664 16.4945 12.3132 16.426 12.4258 16.3183C12.5335 16.2106 12.6021 16.0588 12.6021 15.8923V12.5974H15.8971C16.0635 12.5974 16.2104 12.5288 16.323 12.4211C16.4307 12.3134 16.4993 12.1616 16.4993 11.9952C16.4993 11.6622 16.23 11.3929 15.902 11.3978H12.607V8.10287C12.607 7.76994 12.3377 7.50066 12.0097 7.50556C11.6768 7.50556 11.4075 7.77484 11.4124 8.10287V11.3978H8.11739C7.78447 11.3978 7.51519 11.6671 7.52009 11.9952C7.52009 12.3281 7.78936 12.5974 8.11739 12.5925H11.4124V15.8874C11.3977 16.2253 11.667 16.4945 11.9999 16.4945Z' )
					| Bookmark
	section#individual-page-content
		.container
			.main-content
				.main-content-card.quick-facts
					h4.sub-header-01.quick-facts_header Quick Facts
					.quick-facts_content
						.quick-facts_content-item
							span.label-01 Stream
							p.paragraph-01 Engineering
						.quick-facts_content-item.conducting-body
							span.label-01 Level
							p.paragraph-01 Undergraduate
						.quick-facts_content-item.official-website
							span.label-01 Duration 
							p.paragraph-01 4 Years
						.quick-facts_content-item.tentative-date
							span.label-01 Basic Eligibility
							p.paragraph-01 HS Education
						.quick-facts_content-item.basic-eligibility
							span.label-01 Examination Type
							p.paragraph-01 Semester
						.quick-facts_content-item.basic-eligibility
							span.label-01 Average Course Fees
							p.paragraph-01 2 Lacs to 10 Lacs
				.main-content-cta
					h5.sub-header-02 Interested in this Course?
					button.icon-button-primary
						svg.icon(width='24', height='24', viewBox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
							path(d='M20.4896 20.4896C25.1701 15.8091 25.1701 8.19094 20.4896 3.5104C15.8091 -1.17013 8.19094 -1.17013 3.5104 3.5104C-1.17013 8.19094 -1.17013 15.8091 3.5104 20.4896C8.19094 25.1701 15.8091 25.1701 20.4896 20.4896ZM4.3574 4.3574C8.57283 0.141983 15.4272 0.141983 19.6426 4.3574C23.858 8.57283 23.858 15.4272 19.6426 19.6426C15.4272 23.858 8.57283 23.858 4.3574 19.6426C0.141983 15.4272 0.146879 8.57283 4.3574 4.3574Z' )
							path(d='M11.9999 16.4945C12.1664 16.4945 12.3132 16.426 12.4258 16.3183C12.5335 16.2106 12.6021 16.0588 12.6021 15.8923V12.5974H15.8971C16.0635 12.5974 16.2104 12.5288 16.323 12.4211C16.4307 12.3134 16.4993 12.1616 16.4993 11.9952C16.4993 11.6622 16.23 11.3929 15.902 11.3978H12.607V8.10287C12.607 7.76994 12.3377 7.50066 12.0097 7.50556C11.6768 7.50556 11.4075 7.77484 11.4124 8.10287V11.3978H8.11739C7.78447 11.3978 7.51519 11.6671 7.52009 11.9952C7.52009 12.3281 7.78936 12.5974 8.11739 12.5925H11.4124V15.8874C11.3977 16.2253 11.667 16.4945 11.9999 16.4945Z' )
						| Bookmark
				.main-content-card
					h4.sub-header-01.main-content-card-header B.Tech CSE
					.main-content-card-content
						p.
							Lorem ipsum dolor sit amet, consectetur adipiscing 
							elit, sed do eiusmod tempor incididunt ut labore 
							et dolore magna aliqua. Ut enim ad minim veniam, 
							quis nostrud exercitation ullamco laboris nisi ut 
							aliquip ex ea commodo consequat. Duis aute irure 
							dolor in reprehenderit in voluptate velit esse
							t dolore magna aliqua. Ut enim ad minim veniam, 
							quis nostrud exercitation ullamco laboris nisi ut 
							aliquip ex ea commodo consequat. Duis aute irure 
							dolor in reprehenderit in voluptate velit  
							cillum dolore eu fugiat nulla pariatur.
						p.
							Lorem ipsum dolor sit amet, consectetur adipiscing 
							elit, sed do eiusmod tempor incididunt ut labore 
							et dolore magna aliqua. Ut enim ad minim veniam, 
							quis nostrud exercitation ullamco laboris nisi ut 
							aliquip ex ea commodo consequat. Duis aute irure 
							dolor in reprehenderit in voluptate velit esse 
							cillum dolore eu fugiat nulla pariatur.
					button.icon-link.main-content-card-button(data-variable = "more")
						svg.icon(width='24', height='24', viewBox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
							path(d='M17.5651 14.38L12.5651 19.36C12.4051 19.52 12.2051 19.6 12.0051 19.6C11.8051 19.6 11.6051 19.52 11.4451 19.36L6.44507 14.38C6.12507 14.06 6.12507 13.56 6.44507 13.24C6.76507 12.92 7.26508 12.92 7.58508 13.24L11.2251 16.86V5.20002C11.2251 4.76002 11.5851 4.40002 12.0251 4.40002C12.4651 4.40002 12.8251 4.76002 12.8251 5.20002V16.88L16.4651 13.26C16.7851 12.94 17.2851 12.94 17.6051 13.26C17.8851 13.56 17.8851 14.06 17.5651 14.38Z')
						span.link-primary_lined Read More
				.main-content-card
					h4.sub-header-01.main-content-card-header Syllabus
					.main-content-card-content
						table
							tbody
								tr
									td Applied Mathematics
									td Digital Circuit Design
								tr
									td Operating Systems
									td Graphics and Multimedia

								tr
									td Communication Systems
									td Computer Networks
								tr
									td Object Oriented Programming with Java
									td Design and Analysis of Algorithms
								tr
									td Database Management System
									td Digital Circuite Design
								tr
									td Artificial Interlligence
									td Environmental Science
								tr
									td Cloud Computing
									td Compiler Design
								tr
									td Formal Language & Automata Theory
									td Cryptography and Blockchain

					button.icon-link.main-content-card-button
						svg.icon(width='24', height='24', viewBox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
							path(d='M17.5651 14.38L12.5651 19.36C12.4051 19.52 12.2051 19.6 12.0051 19.6C11.8051 19.6 11.6051 19.52 11.4451 19.36L6.44507 14.38C6.12507 14.06 6.12507 13.56 6.44507 13.24C6.76507 12.92 7.26508 12.92 7.58508 13.24L11.2251 16.86V5.20002C11.2251 4.76002 11.5851 4.40002 12.0251 4.40002C12.4651 4.40002 12.8251 4.76002 12.8251 5.20002V16.88L16.4651 13.26C16.7851 12.94 17.2851 12.94 17.6051 13.26C17.8851 13.56 17.8851 14.06 17.5651 14.38Z')
						span.link-primary_lined Read More
				.main-content-card
					h4.sub-header-01.main-content-card-header Career/ Jobs
					.main-content-card-content
						table
							tbody
								tr
									td Software Developers
									td Application Developers
								tr
									td Program Analyst
									td Quality Assurance Analyst

								tr
									td Data Analyst
									td DevOps Engineer
								tr
									td Front-end Engineer
									td Back-end Engineer
								tr
									td Lecturer/Professor
									td Testing Engineer					
					button.icon-link.main-content-card-button
						svg.icon(width='24', height='24', viewBox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
							path(d='M17.5651 14.38L12.5651 19.36C12.4051 19.52 12.2051 19.6 12.0051 19.6C11.8051 19.6 11.6051 19.52 11.4451 19.36L6.44507 14.38C6.12507 14.06 6.12507 13.56 6.44507 13.24C6.76507 12.92 7.26508 12.92 7.58508 13.24L11.2251 16.86V5.20002C11.2251 4.76002 11.5851 4.40002 12.0251 4.40002C12.4651 4.40002 12.8251 4.76002 12.8251 5.20002V16.88L16.4651 13.26C16.7851 12.94 17.2851 12.94 17.6051 13.26C17.8851 13.56 17.8851 14.06 17.5651 14.38Z')
						span.link-primary_lined Read More
				.main-content-cta
					h5.sub-header-02 Interested in this Course?
					button.icon-button-primary
						svg.icon(width='24', height='24', viewBox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
							path(d='M20.4896 20.4896C25.1701 15.8091 25.1701 8.19094 20.4896 3.5104C15.8091 -1.17013 8.19094 -1.17013 3.5104 3.5104C-1.17013 8.19094 -1.17013 15.8091 3.5104 20.4896C8.19094 25.1701 15.8091 25.1701 20.4896 20.4896ZM4.3574 4.3574C8.57283 0.141983 15.4272 0.141983 19.6426 4.3574C23.858 8.57283 23.858 15.4272 19.6426 19.6426C15.4272 23.858 8.57283 23.858 4.3574 19.6426C0.141983 15.4272 0.146879 8.57283 4.3574 4.3574Z' )
							path(d='M11.9999 16.4945C12.1664 16.4945 12.3132 16.426 12.4258 16.3183C12.5335 16.2106 12.6021 16.0588 12.6021 15.8923V12.5974H15.8971C16.0635 12.5974 16.2104 12.5288 16.323 12.4211C16.4307 12.3134 16.4993 12.1616 16.4993 11.9952C16.4993 11.6622 16.23 11.3929 15.902 11.3978H12.607V8.10287C12.607 7.76994 12.3377 7.50066 12.0097 7.50556C11.6768 7.50556 11.4075 7.77484 11.4124 8.10287V11.3978H8.11739C7.78447 11.3978 7.51519 11.6671 7.52009 11.9952C7.52009 12.3281 7.78936 12.5974 8.11739 12.5925H11.4124V15.8874C11.3977 16.2253 11.667 16.4945 11.9999 16.4945Z' )
						| Bookmark
				.main-content-card
					h4.sub-header-01.main-content-card-header Top Institutes
					.main-content-card-content
						table
							tbody
								tr
									td IIT Kanpur
									td IISC Bangalore
								tr
									td BITS
									td IIT
								tr
									td NIT
									td Jadavpur University
								tr
									td IIT Bombay
									td IIIT
					button.icon-link.main-content-card-button
						svg.icon(width='24', height='24', viewBox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
							path(d='M17.5651 14.38L12.5651 19.36C12.4051 19.52 12.2051 19.6 12.0051 19.6C11.8051 19.6 11.6051 19.52 11.4451 19.36L6.44507 14.38C6.12507 14.06 6.12507 13.56 6.44507 13.24C6.76507 12.92 7.26508 12.92 7.58508 13.24L11.2251 16.86V5.20002C11.2251 4.76002 11.5851 4.40002 12.0251 4.40002C12.4651 4.40002 12.8251 4.76002 12.8251 5.20002V16.88L16.4651 13.26C16.7851 12.94 17.2851 12.94 17.6051 13.26C17.8851 13.56 17.8851 14.06 17.5651 14.38Z')
						span.link-primary_lined Read More
				.main-content-card
					h4.sub-header-01.main-content-card-header Random Placeholder Title
					.main-content-card-content
						ol
							li This is Item One
							li.
								This is 2nd item. Also adding some lorem text to wrap it to the next line elit, sed do eiusmod tempor incididunt ut labore 
								et dolore magna aliqua. elit, sed do eiusmod tempor incididunt ut labore 
								et dolore magna aliqua. 
							li This is the 3rd item
					button.icon-link.main-content-card-button
						svg.icon(width='24', height='24', viewBox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
							path(d='M17.5651 14.38L12.5651 19.36C12.4051 19.52 12.2051 19.6 12.0051 19.6C11.8051 19.6 11.6051 19.52 11.4451 19.36L6.44507 14.38C6.12507 14.06 6.12507 13.56 6.44507 13.24C6.76507 12.92 7.26508 12.92 7.58508 13.24L11.2251 16.86V5.20002C11.2251 4.76002 11.5851 4.40002 12.0251 4.40002C12.4651 4.40002 12.8251 4.76002 12.8251 5.20002V16.88L16.4651 13.26C16.7851 12.94 17.2851 12.94 17.6051 13.26C17.8851 13.56 17.8851 14.06 17.5651 14.38Z')
						span.link-primary_lined Read More
				.main-content-cta
					h5.sub-header-02 Interested in this College?
					button.icon-button-primary
						svg.icon(width='24', height='24', viewBox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
							path(d='M20.4896 20.4896C25.1701 15.8091 25.1701 8.19094 20.4896 3.5104C15.8091 -1.17013 8.19094 -1.17013 3.5104 3.5104C-1.17013 8.19094 -1.17013 15.8091 3.5104 20.4896C8.19094 25.1701 15.8091 25.1701 20.4896 20.4896ZM4.3574 4.3574C8.57283 0.141983 15.4272 0.141983 19.6426 4.3574C23.858 8.57283 23.858 15.4272 19.6426 19.6426C15.4272 23.858 8.57283 23.858 4.3574 19.6426C0.141983 15.4272 0.146879 8.57283 4.3574 4.3574Z' )
							path(d='M11.9999 16.4945C12.1664 16.4945 12.3132 16.426 12.4258 16.3183C12.5335 16.2106 12.6021 16.0588 12.6021 15.8923V12.5974H15.8971C16.0635 12.5974 16.2104 12.5288 16.323 12.4211C16.4307 12.3134 16.4993 12.1616 16.4993 11.9952C16.4993 11.6622 16.23 11.3929 15.902 11.3978H12.607V8.10287C12.607 7.76994 12.3377 7.50066 12.0097 7.50556C11.6768 7.50556 11.4075 7.77484 11.4124 8.10287V11.3978H8.11739C7.78447 11.3978 7.51519 11.6671 7.52009 11.9952C7.52009 12.3281 7.78936 12.5974 8.11739 12.5925H11.4124V15.8874C11.3977 16.2253 11.667 16.4945 11.9999 16.4945Z' )
						| Bookmark

					
			aside.card_sidebar
				.card_sidebar-suggestion
					h4.sub-header-01 Top Colleges
					a(href="individual-course.html").paragraph-01 MBA
					a(href="individual-course.html").paragraph-01 MBBS
					a(href="individual-course.html").paragraph-01 BBA LLB
					a(href="individual-course.html").paragraph-01 M.Tech CSE
					a(href="individual-course.html").paragraph-01 BCA
				+searchBarSM("Search Items")
