extends templates/_default

block title
	title Pattern Library | ExamKhojo

block stylesheet
	link(rel="stylesheet" href="assets/css/pages/library.css")

block content
	.header
		.container
			h2.header-02 Pattern Library
			a(href="/index.html") Back

	section.typography
		.container
			.typography-title
				h2.header-02 Typography
			.typography-content
				.typeface
					.typeface-label
						h5.sub-header-02 Typeface
					.typeface-content
						h3.header-03 Public Sans
						p.sub-header-02 abcd efgh ijklmnop qrst uvwxyz
						p.sub-header-02 ABCD EFGJ IJKLMNOP QRST UVWXYZ
						p.sub-header-02 0123456789 (!@#%&.,?:;)
				
				.text-styles
					- 
						const textStyles = {
							"CLASS NAME" : [ "TAG", "FONT-WEIGHT", "EXAMPLE"],
							"header-01" : [ "h1", "800", "Header 01"],
							"header-02" : [ "h2", "700", "Header 02"],
							"header-03" : [ "h3", "600", "Header 03"],
							"sub-header-01" : [ "h4", "600", "Sub Header 01"],
							"sub-header-02" : [ "h5", "400", "Sub Header 02"],
							"sub-header-03" : [ "h6", "600", "sub Header 03"],
							"paragraph-01" : [ "p", "300", "Paragraph 01"],
							"button-01" : [ "a", "500", "Button 01"],
							"link-01" : [ "a", "500", "Link 01"],
							"label-01" : [ "span", "400", "Label 01"],
							"label-02" : [ "span", "400", "Label 02"]
						};
					.text-styles_content
						each n, i in textStyles
							.text-styles-each
								p.text-styles-each_class= i
								p.text-styles-each_tag= n[0]
								p.text-styles-each_weight= n[1]
								#{ n[0]  }.text-styles-each_example= n[2]
				//Text Styles End
			//Typography Content End
	//Typography Section End
	section.button-styles
		.container
			.button-styles_title
				h2.header-02 Buttons
			.button-styles_content
				button.button-primary Primary
				button.button-primary(disabled) Primary
				button.button-outline Primary
				button.button-outline(disabled) Primary
				button.icon-button-primary
					svg.icon(width='44', height='44', viewBox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
						g(clip-path='url(#clip0)')
							path(d='M23.9671 9.20207C23.8883 8.9607 23.6814 8.78829 23.4302 8.74888L15.9428 7.68489L12.5735 0.9118C12.4602 0.685209 12.2287 0.542358 11.9775 0.542358C11.7263 0.542358 11.4947 0.685209 11.3815 0.916726L8.05648 7.70952L0.569134 8.82277C0.317913 8.86218 0.111026 9.03459 0.0322121 9.27595C-0.0466021 9.51732 0.0223603 9.78332 0.204618 9.95572L5.63787 15.2215L4.38177 22.6793C4.33744 22.9305 4.44088 23.1817 4.64777 23.3295C4.76106 23.4132 4.89899 23.4576 5.03691 23.4576C5.14528 23.4576 5.24873 23.4329 5.34724 23.3788L12.0317 19.8371L18.7358 23.3394C18.8343 23.3886 18.9378 23.4132 19.0412 23.4132C19.4057 23.4132 19.7062 23.1128 19.7062 22.7483C19.7062 22.6941 19.7013 22.6448 19.6865 22.5955L18.391 15.1821L23.7898 9.88676C23.9819 9.70943 24.0459 9.44343 23.9671 9.20207ZM17.2186 14.4777C17.061 14.6304 16.992 14.8521 17.0314 15.0688L18.1595 21.5365L12.3371 18.4972C12.145 18.3938 11.9134 18.3987 11.7164 18.4972L5.91372 21.571L7.00234 15.0934C7.03682 14.8767 6.96786 14.6599 6.81023 14.5072L2.10108 9.93602L8.59833 8.97055C8.81507 8.93607 9.00225 8.80307 9.09584 8.60603L11.9824 2.70975L14.9084 8.59125C15.0069 8.78829 15.1941 8.92129 15.4108 8.95577L21.913 9.88184L17.2186 14.4777Z')
					| Primary
				button.icon-button-primary(disabled)
					svg.icon(width='44', height='44', viewBox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
						g(clip-path='url(#clip0)')
							path(d='M23.9671 9.20207C23.8883 8.9607 23.6814 8.78829 23.4302 8.74888L15.9428 7.68489L12.5735 0.9118C12.4602 0.685209 12.2287 0.542358 11.9775 0.542358C11.7263 0.542358 11.4947 0.685209 11.3815 0.916726L8.05648 7.70952L0.569134 8.82277C0.317913 8.86218 0.111026 9.03459 0.0322121 9.27595C-0.0466021 9.51732 0.0223603 9.78332 0.204618 9.95572L5.63787 15.2215L4.38177 22.6793C4.33744 22.9305 4.44088 23.1817 4.64777 23.3295C4.76106 23.4132 4.89899 23.4576 5.03691 23.4576C5.14528 23.4576 5.24873 23.4329 5.34724 23.3788L12.0317 19.8371L18.7358 23.3394C18.8343 23.3886 18.9378 23.4132 19.0412 23.4132C19.4057 23.4132 19.7062 23.1128 19.7062 22.7483C19.7062 22.6941 19.7013 22.6448 19.6865 22.5955L18.391 15.1821L23.7898 9.88676C23.9819 9.70943 24.0459 9.44343 23.9671 9.20207ZM17.2186 14.4777C17.061 14.6304 16.992 14.8521 17.0314 15.0688L18.1595 21.5365L12.3371 18.4972C12.145 18.3938 11.9134 18.3987 11.7164 18.4972L5.91372 21.571L7.00234 15.0934C7.03682 14.8767 6.96786 14.6599 6.81023 14.5072L2.10108 9.93602L8.59833 8.97055C8.81507 8.93607 9.00225 8.80307 9.09584 8.60603L11.9824 2.70975L14.9084 8.59125C15.0069 8.78829 15.1941 8.92129 15.4108 8.95577L21.913 9.88184L17.2186 14.4777Z')
					| Primary
				button.icon-button-outline
					svg.icon(width='44', height='44', viewBox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
						g(clip-path='url(#clip0)')
							path(d='M23.9671 9.20207C23.8883 8.9607 23.6814 8.78829 23.4302 8.74888L15.9428 7.68489L12.5735 0.9118C12.4602 0.685209 12.2287 0.542358 11.9775 0.542358C11.7263 0.542358 11.4947 0.685209 11.3815 0.916726L8.05648 7.70952L0.569134 8.82277C0.317913 8.86218 0.111026 9.03459 0.0322121 9.27595C-0.0466021 9.51732 0.0223603 9.78332 0.204618 9.95572L5.63787 15.2215L4.38177 22.6793C4.33744 22.9305 4.44088 23.1817 4.64777 23.3295C4.76106 23.4132 4.89899 23.4576 5.03691 23.4576C5.14528 23.4576 5.24873 23.4329 5.34724 23.3788L12.0317 19.8371L18.7358 23.3394C18.8343 23.3886 18.9378 23.4132 19.0412 23.4132C19.4057 23.4132 19.7062 23.1128 19.7062 22.7483C19.7062 22.6941 19.7013 22.6448 19.6865 22.5955L18.391 15.1821L23.7898 9.88676C23.9819 9.70943 24.0459 9.44343 23.9671 9.20207ZM17.2186 14.4777C17.061 14.6304 16.992 14.8521 17.0314 15.0688L18.1595 21.5365L12.3371 18.4972C12.145 18.3938 11.9134 18.3987 11.7164 18.4972L5.91372 21.571L7.00234 15.0934C7.03682 14.8767 6.96786 14.6599 6.81023 14.5072L2.10108 9.93602L8.59833 8.97055C8.81507 8.93607 9.00225 8.80307 9.09584 8.60603L11.9824 2.70975L14.9084 8.59125C15.0069 8.78829 15.1941 8.92129 15.4108 8.95577L21.913 9.88184L17.2186 14.4777Z')
					| Primary
				button.icon-button-outline(disabled)
					svg.icon(width='44', height='44', viewBox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
						g(clip-path='url(#clip0)')
							path(d='M23.9671 9.20207C23.8883 8.9607 23.6814 8.78829 23.4302 8.74888L15.9428 7.68489L12.5735 0.9118C12.4602 0.685209 12.2287 0.542358 11.9775 0.542358C11.7263 0.542358 11.4947 0.685209 11.3815 0.916726L8.05648 7.70952L0.569134 8.82277C0.317913 8.86218 0.111026 9.03459 0.0322121 9.27595C-0.0466021 9.51732 0.0223603 9.78332 0.204618 9.95572L5.63787 15.2215L4.38177 22.6793C4.33744 22.9305 4.44088 23.1817 4.64777 23.3295C4.76106 23.4132 4.89899 23.4576 5.03691 23.4576C5.14528 23.4576 5.24873 23.4329 5.34724 23.3788L12.0317 19.8371L18.7358 23.3394C18.8343 23.3886 18.9378 23.4132 19.0412 23.4132C19.4057 23.4132 19.7062 23.1128 19.7062 22.7483C19.7062 22.6941 19.7013 22.6448 19.6865 22.5955L18.391 15.1821L23.7898 9.88676C23.9819 9.70943 24.0459 9.44343 23.9671 9.20207ZM17.2186 14.4777C17.061 14.6304 16.992 14.8521 17.0314 15.0688L18.1595 21.5365L12.3371 18.4972C12.145 18.3938 11.9134 18.3987 11.7164 18.4972L5.91372 21.571L7.00234 15.0934C7.03682 14.8767 6.96786 14.6599 6.81023 14.5072L2.10108 9.93602L8.59833 8.97055C8.81507 8.93607 9.00225 8.80307 9.09584 8.60603L11.9824 2.70975L14.9084 8.59125C15.0069 8.78829 15.1941 8.92129 15.4108 8.95577L21.913 9.88184L17.2186 14.4777Z')
					| Primary
				button.button-primary_success Primary
				button.button-primary_danger Primary
			//Button Styles Content End
			.link-styles
				h2.header-02 Link Styles
				a(href="#").link-primary Link
				a(href="#").link-primary__lined Link Lined
	//Button Styles Section End
	section.search-boxes
		.container
			+searchBarLG('Search this')
			+searchBarSM('Search Exams')
	//Search Bars Section End
	section.nav-bars
		.container
			h2.header-02 Nav Bars
			h4.sub-header-01 Below The Fold

			include templates/partials/_nav	 
	//Nav Bar Section End
	section.cards-section
		.container
			.cards-group
				.card_college
					.card_college-img
						img(src="../assets/images/sample.jpg", alt="College Logo")
					.card_college-details
						h5.sub-header-02 Name of the College
						.card_college-details_secondary
							span.label-01 Location
							span.label-01 Approval
							span.label-01 Type
						a(href="#download").link-primary__lined Brochure
				.card_college
					.card_college-img
						img(src="../assets/images/sample.jpg", alt="College Logo")
					.card_college-details
						h5.sub-header-02 Name of the College
						.card_college-details_secondary
							span.label-01 Location
							span.label-01 Approval
							span.label-01 Type
						a(href="#download").link-primary__lined Brochure
				.card_college
					.card_college-img
						img(src="../assets/images/sample.jpg", alt="College Logo")
					.card_college-details
						h5.sub-header-02 Name of the College
						.card_college-details_secondary
							span.label-01 Location
							span.label-01 Approval
							span.label-01 Type
						a(href="#download").link-primary__lined Brochure
				.card_exam
					.card_exam-img
						img(src="../assets/images/bg-dark - Copy.png", alt="College Logo")
					.card_exam-details
						h5.sub-header-02 Exam Name
						.card_exam-details_secondary
							span.label-01 Conducting Body
							span.label-01 Level
							span.label-01 For Course
						a(href="#download").link-primary__lined Brochure
				.card_exam
					.card_exam-img
						img(src="../assets/images/bg-dark - Copy.png", alt="College Logo")
					.card_exam-details
						h5.sub-header-02 Exam Name
						.card_exam-details_secondary
							span.label-01 Conducting Body
							span.label-01 Level
							span.label-01 For Course
						a(href="#download").link-primary__lined Brochure
				.card_exam
					.card_exam-img
						img(src="../assets/images/bg-dark - Copy.png", alt="College Logo")
					.card_exam-details
						h5.sub-header-02 Exam Name
						.card_exam-details_secondary
							span.label-01 Conducting Body
							span.label-01 Level
							span.label-01 For Course
						a(href="#download").link-primary__lined Brochure
				.card_course
					.card_course-details
						h5.sub-header-02 Name of the Course
						.card_course-details_secondary
							span.label-01 Conducting Body
							span.label-01 Level
							span.label-01 For Course
				.card_course
					.card_course-details
						h5.sub-header-02 Name of the Course
						.card_course-details_secondary
							span.label-01 Conducting Body
							span.label-01 Level
							span.label-01 For Course
				.card_course
					.card_course-details
						h5.sub-header-02 Name of the Course
						.card_course-details_secondary
							span.label-01 Conducting Body
							span.label-01 Level
							span.label-01 For Course
	img(src="../assets/images/bg-dark.png", alt="")