extends templates/_default

block title
  title Privacy Policy | Examkhojo
block stylesheet
  link(rel="stylesheet" href="assets/css/pages/company.css")

block content
  section#hero
    .container
      h3 Privacy Policy
  section#content
    .container
      p.
        The Examkhojo.com Is the manager, moderator and operator of the website and all
        of its versions including mobile and applications. This website privacy policy
        document clarifies all the issues related to how we will use the data and information
        collected from users. The privacy policy is prepared only for Examkhojo.com and not
        for websites linked through it. Kindly refer respective documents to get more
        insights.
      ul
        li.paragraph-01.
          The website is not for the users below 13 years and thus we do not intend to
          keep data of the users below the specified age. We will remove the data as
          soon as we find any such kind of data.
        li.paragraph-01.
          The website stores and uses cookies and web log files to track site usage and
          trends, to improve the quality of our service, to customize your experience on
          our platforms, as well as to deliver third-party advertising to Users both on
          and off our platforms.
        li.paragraph-01.
          We also allow the authorized third parties place or recognize a unique cookie
          on your browser. Any information provided to third parties through cookies
          will not be personally identifiable but may provide general segment
          information (e.g., your industry or geography or information about your
          professional or educational background) for the enhancement of your user
          experience by providing more relevant advertising.
        li.paragraph-01.
          Website does not store unencrypted personally identifiable information in the
          cookies.
        li.paragraph-01.
          The website also collects and stores the data submitted by users. As we allow
          the users to request data from educational institutions listed on the website,
          similarly we share the data to respective institutes to fulfill the request and the
          privacy of such data is under the mutual agreement between institutes and
          users.
        li.paragraph-01.
          The users providing testimonial are entitled to public display and can also be
          shared with our clients.
        li.paragraph-01.
          Users can also receive SMS and Emails containing the information of the
          college and course he/she applies in and also of related colleges and courses.
        li.paragraph-01.
          Views posted on the forums and our comment section are the sole property of
          Examkhojo.com as it provides a crucial insight of consumer thought process.
        li.paragraph-01.
          The data collected through our platform can be used in the analysis of trends
          and can also be forwarded to the educational service providers depending
          upon the usage history.
        li.paragraph-01.
          We reserve the right to change the Terms &amp; conditions and Privacy Policy
          from time to time as we deem fit, without any intimation to you, and your
          continued use of the site will signify your acceptance of any amendment to
          these terms.
        li.paragraph-01.
          Data collected through the website can be used in various ways. Company can
          send customized emails on the users opting for newsletters or notification on
          admission process and entrance tests. If not interested, users can drop a mail
          on hello@examkhojo.com.