@import '../_includes'

body
  background-color: $white-02
#hero
  .container
    padding: 10vmax 0 16vmax
    display: flex
    flex-direction: column
  h2
    max-width: 960px
    text-align: center
    margin: 0 auto 32px
    color: $white-01
  .search-bar_large
    width: 100%
    margin: 0 auto
    @media screen and ( max-width: 1000px )
      display: none
    &:last-child
      display: none
      @media screen and ( max-width: 1000px )
        display: flex

#counselling
  padding: 10vmax 0 12vmax
  .container
    display: grid
    grid-template-columns: 6fr 5fr
    grid-column-gap: 8%
    @media screen and ( max-width: 1200px )
      grid-column-gap: 2%
    @media screen and ( max-width: 800px )
      grid-template-columns: 1fr
      grid-row-gap: 24px
  .counselling-header
    display: flex
    margin: auto 0
  .counselling-content
    p
      margin: 24px 0 32px
  .counselling-confirmation
    display: none
    position: fixed
    background: transparentize($black-01, 0.7)
    top: 0
    right: 0
    left: 0
    bottom: 0
    z-index: 500
    .counselling-confirmation-message
      margin: auto
      width: 90%
      max-width: 800px
      background: $white-01
      padding: 36px 5%
      .icon
        @include size(30px)
        fill: $success-green
        margin-right: 8px
        height: 38px
        @media screen and ( max-width: 480px )
          @include size(20px)
          height: 28px
      h5, p
        margin-bottom: 24px
      h5
        text-align: center
    .message-tip
      font-size: 0.75rem
      color: $white-02
      background: $blue-02
      padding: 4px
      margin-right: 4px
      border-radius: 5px

.featured-section
  padding: 12vmin 0
  .featured-section-header
    display: grid
    grid-template-columns: 6fr 3fr
    grid-column-gap: 25%
    align-items: end
    justify-content: stretch
    @media screen and ( max-width: 1400px )
      grid-column-gap: 12.5%
    @media screen and ( max-width: 1200px )
      grid-template-columns: 1fr
      grid-row-gap: 16px
      justify-content: start
    .featured-section-header-content
      p
        margin: 24px 0 0

#featured-colleges, #featured-exams, #featured-courses
  @extend .featured-section
#featured-exams, #featured-courses
  background: $white-02

    