doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")

    //- The 3 tags below will be added by the manager for each page
    block title

    //- Rest of the meta tags maybe chenged to be "manager editable" in later versions
    meta(property="og:title" content="Examkhojo, A Search Platform")
    meta(property="og:description" content="Find the best colleges, exams and courses in India")
    meta(property="og:image" content="https://raw.githubusercontent.com/GaziTaufiqIslam/examkhojo-ui/master/src/assets/images/og_img.jpg")
    meta(property="og:url" content="examkhojo.com")
    meta(property="twitter:card" content="summary_large_image")

    meta(name="theme-color" content="#1a3348")

    //- Common CSS file for every page
    link(rel="stylesheet" href="assets/css/app.css")
    
    //- Individual CSS file for each page
    block stylesheet

    link(rel="icon", href="assets/images/favicon.ico", type="image/x-icon")
