doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")

    meta(name="description", content="Find the best colleges, exams and courses in India")
    meta(name="keywords", content="Collges,Exams,Courses,India,Colleges in India,Exams in India,Courses in India")
    meta(property="og:title" content="Examkhojo, Search Platform for Exams , Colleges and Courses in India")
    meta(property="og:description" content="Find the best colleges, exams and courses in India")
    meta(property="og:image" content="assets/images/og_img.jpg")
    meta(property="og:url" content="examkhojo.com")
    meta(property="twitter:card" content="summary_large_image")

    meta(name="theme-color" content="#006BC2")

    block title
    link(rel="stylesheet" href="assets/css/app.css")
    block stylesheet
    link(rel="icon", href="assets/images/favicon.ico", type="image/x-icon")
