nav.above-the-fold
    .nav-content
        a(href="index.html").nav-content-brand
        .nav-content-links
            .overlay
            .hamburger-content
                .hamburger-content-header
                    a(href="index.html").hamburger-content-header__brand
                        img(src="/assets/images/logo-main.png", alt="Examkhojo Main Logo")
                    .close-menu
                        svg.icon(width='24', height='24', viewBox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                            path(d='M20.4848 3.51515C18.2172 1.24747 15.2071 0 12 0C8.79293 0 5.78283 1.24747 3.51515 3.51515C1.24747 5.78283 0 8.79293 0 12C0 15.2071 1.24747 18.2172 3.51515 20.4848C5.78283 22.7525 8.79293 24 12 24C15.2071 24 18.2172 22.7525 20.4848 20.4848C22.7525 18.2172 24 15.2071 24 12C24 8.79293 22.7525 5.78283 20.4848 3.51515ZM19.5202 19.5202C17.5101 21.5303 14.8384 22.6364 12 22.6364C9.16162 22.6364 6.4899 21.5303 4.4798 19.5202C0.333333 15.3737 0.333333 8.62626 4.4798 4.4798C6.4899 2.4697 9.16162 1.36364 12 1.36364C14.8384 1.36364 17.5101 2.4697 19.5202 4.4798C23.6667 8.62626 23.6667 15.3737 19.5202 19.5202Z')
                            path(d='M17.2878 6.71211C17.0201 6.44443 16.5908 6.44443 16.3231 6.71211L11.9999 11.0353L7.67664 6.71211C7.40896 6.44443 6.97967 6.44443 6.71199 6.71211C6.44431 6.97979 6.44431 7.40908 6.71199 7.67676L11.0352 12L6.71199 16.3232C6.44431 16.5909 6.44431 17.0202 6.71199 17.2879C6.8433 17.4192 7.02007 17.4899 7.19179 17.4899C7.3635 17.4899 7.54027 17.4242 7.67158 17.2879L11.9948 12.9646L16.3181 17.2879C16.4494 17.4192 16.6261 17.4899 16.7979 17.4899C16.9746 17.4899 17.1463 17.4242 17.2777 17.2879C17.5453 17.0202 17.5453 16.5909 17.2777 16.3232L12.9645 12L17.2878 7.67676C17.5554 7.40908 17.5554 6.97979 17.2878 6.71211Z')

                ul.nav-content-links__left-links
                    li.link-items
                        a.label-02(href="exams.html") Exams
                    li.link-items
                        a.label-02(href="colleges.html") Colleges
                    li.link-items
                        a.label-02(href="courses.html") Courses
                    li.link-items
                        a.label-02(href="#GetCounselling") Get Counselling
                    
                .nav-content-links__right-buttons
                    button.button-outline Log In
                    button.button-primary Sign Up for Free
            .nav-content-links__user
                img.user-avatar(src="https://ui-avatars.com/api/?format=svg&name=Drady+jules", alt="")
                span.label-02 Drady
                .toggle-button
                    svg.icon(width='24', height='24', viewBox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                        path(d='M11.9995 16.8175L2.74133 7.37419C2.51364 7.14195 2.14847 7.14195 1.92077 7.37419C1.69308 7.60644 1.69308 7.97892 1.92077 8.21117L11.5914 18.0752C11.8191 18.3075 12.1843 18.3075 12.412 18.0752L22.0783 8.21117C22.19 8.09723 22.2501 7.94386 22.2501 7.79487C22.2501 7.64588 22.1943 7.49251 22.0783 7.37858C21.8506 7.14633 21.4854 7.14633 21.2577 7.37858L11.9995 16.8175Z')
                .user-dropdown
                    li
                        a(href="#Dashborad").label-02 Dashboard
                    li
                        a(href="#LogOut").link-primary.label-02 Log Out
            .hamburger-menu
                svg.icon(width='24', height='24', viewBox='0 0 24 24', xmlns='http://www.w3.org/2000/svg')
                    path(d='M0 4.51197C0 4.14083 0.300865 3.83997 0.672 3.83997H23.328C23.6991 3.83997 24 4.14083 24 4.51197C24 4.8831 23.6991 5.18397 23.328 5.18397H0.672C0.300865 5.18397 0 4.8831 0 4.51197Z')
                    path(d='M0 12.192C0 11.8208 0.300865 11.52 0.672 11.52H23.328C23.6991 11.52 24 11.8208 24 12.192C24 12.5631 23.6991 12.864 23.328 12.864H0.672C0.300865 12.864 0 12.5631 0 12.192Z')
                    path(d='M0.672 19.2C0.300865 19.2 0 19.5008 0 19.872C0 20.2431 0.300865 20.544 0.672 20.544H23.328C23.6991 20.544 24 20.2431 24 19.872C24 19.5008 23.6991 19.2 23.328 19.2H0.672Z')