.subscribe
    .container
        .subscribe-content
            h4.sub-header-01 Get Exclusive Updates
            p Register now with Examkhojo.com
        form.subscribe-form(action="#")
            .form-element
                label(for='name') Name
                input(type='text', name='name', placeholder='Type your name')
            .form-element
                label(for='email') Email
                input(type='email', name='email', placeholder='Type your email')
            .form-element
                input.button-outline(type='submit', value='Subscribe')